<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Аккаунты</title>
</head>
<body>
<div th:fragment="copy">
	<table border="2">
		<tr>
			<th>id</th>
			<th>username</th>
			<th>role</th>
		</tr>
		<tbody>
			<tr th:each="client : ${page.content}">
				<td th:text="${client.id}">id</td>
				<td th:text="${client.username}">name</td>
				<td th:text="${client.role}">role</td>
				<td width="100"><a
					th:href="@{/accounts/deleteUser/{id}(id=${client.id})}">Удалить
						пользователя</a></td>
				<td width="100"><a
					th:href="@{/accounts/changeUser/{id}(id=${client.id})}">Изменить
						пользователя</a></td>
			</tr>
		</tbody>
	</table>
	<span th:if="${page.totalPages > 0}"
		th:each="pageNumber : ${pageNumbers}"> <a
		th:href="@{/accounts(size=${page.size}, page=${pageNumber})}"
		th:text=${pageNumber}></a>
	</span>

	<div>
		<a th:href="@{/accounts/addUser}">Добавить пользователя.</a>
	</div>
	
	<div th:insert="footer :: copy"></div>
	
</div>
</body>
</html>