<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Изменение пользователя.</title>
</head>
<body>

<div><h1>Изменение клиента <span th:text="${user.username}"></span></h1></div>

<form method="POST" th:action="@{/adminPage/changeUser}" th:object="${user}">
	<label for="username">Username: </label>
	<input type="text" th:field="*{username}" name="username"/><br/>
	<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
	<label for="password">Password: </label>
	<input type="password" th:field="*{password}" name="password"/><br/>
	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
 	<p><b>Роль</b><Br>
   	<input type="radio" name="role" value="Client" checked> Client <Br>
   	<input type="radio" name="role" value="Admin"> Admin <Br>
	</p>
	<input type="hidden" th:field="*{id}" /><br/>
<input type="submit" value="Register"/>
</form>

<div th:insert="footer :: copy"></div>

</body>
</html>
</html>