<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Изменение фильма</title>
</head>
<body>

	<div>
		<h2>
			Изменение фильма <span th:text="${film.name}"></span>
		</h2>
	</div>

	<form method="POST" th:action="@{/films/changeFilm}"
		th:object="${film}">
		<label for="name">Название: </label> <input type="text"
			th:field="*{name}" name="name" /><br />
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
			Error</div>

		<div th:each="genre : ${allGenres}">
			<input type="checkbox" th:field="*{genres}" th:value="${genre.id}"/>
			<label th:text="${genre.name}"></label>
			</div> 
			<div><input type="hidden" th:field="*{id}" /></div> 
			<div><input type="submit" value="Register" /></div>
	</form>

	<div th:insert="footer :: copy"></div>

</body>
</html>
</html>