<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Выбор места</title>
<style type="text/css">
  .statusFree {
    background: PaleGreen; /* Цвет фона ячеек */
   }
    .statusBusy {
    background: Fuchsia; /* Цвет фона ячеек */
   }
    .statusYours {
    background: LightYellow; /* Цвет фона ячеек */
   }
  </style>
</head>
<body>

	<h1>
		Добро пожаловать, <span th:text="${user.username}"></span>
	</h1>

	<h1>
		Выбор места на сеанс <span th:text="${sess}"></span>
	</h1>
	<table border="2">
		<tbody>
			<tr th:each="row : ${rows}">
				<td th:each="place : ${row.places}" th:text="${place}" 
				th:class="${place.isFree()} ? 'statusFree' : (${place.isBusy()} ? 'statusBusy' : 'statusYours')"></td>			</tr>
		</tbody>
	</table>

	<div th:insert="footer :: copy"></div>
</body>
</html>