<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Выбор места</title>
<style type="text/css">
.statusFree {
	background: PaleGreen; /* Цвет фона ячеек */
}

.statusBusy {
	background: Fuchsia; /* Цвет фона ячеек */
}

.statusYours {
	background: LightYellow; /* Цвет фона ячеек */
}
</style>
</head>
<body>

	<h1>
		Добро пожаловать, <span th:text="${user.username}"></span>
	</h1>

	<h1>
		Выбор места на сеанс <span th:text="${sess}"></span>
	</h1>

	<form method="POST" th:action="@{/forClient/choosePlace}">
		<table>
			<tr th:each="row : ${rows}">
				<td th:each="place : ${row.places}"
				th:class="${place.isFree()} ? 'statusFree' : 'statusBusy'"
					 ><input type="checkbox" name="places" value=[[${place.id}]]/>[[${place}]]
					</td>
			</tr>
		</table>
		<div>
			<input type="submit" value="Выбрать отмеченные места" />
		</div>
	</form>

	<div th:insert="footer :: copy"></div>
</body>
</html>