<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Фильмы</title>
</head>
<body>

	<h1>Фильмы</h1>

	<div th:fragment="copy">
		<table border="2">
			<tr>
				<th>id</th>
				<th>name</th>
				<th>genres</th>
				<th>poster</th>
			</tr>
			<tbody>
				<tr th:each="film : ${page.content}">
					<td th:text="${film.id}">id</td>
					<td th:text="${film.name}">name</td>
					<td>
						<ul>
							<li th:each="genre : ${film.genres}" th:text="${genre.name}">Жанры</li>
						</ul>
					</td>
					<td width="100"><img th:src="${film.picture}" style="height:100px"></p></td>
					<td width="100"><a
						th:href="@{/films/deleteFilm/{id}(id=${film.id})}">Удалить
							фильм</a></td>
					<td width="100"><a
						th:href="@{/films/changeFilm/{id}(id=${film.id})}">Изменить
							фильм</a></td>
					<td width="100"><a
						th:href="@{/films/changePicture/{id}(id=${film.id})}">Изменить
							постер</a></td>
				</tr>
			</tbody>
		</table>
		<span th:if="${page.totalPages > 0}"
			th:each="pageNumber : ${pageNumbers}"> <a
			th:href="@{/films(size=${page.size}, page=${pageNumber})}"
			th:text=${pageNumber}></a>
		</span>
		</div>



		<div>
			<a th:href="@{/films/addFilm}">Добавить новый фильм.</a>
		</div>

		<div th:insert="footer :: copy"></div>
</body>
</html>