<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Кинотеатр</title>
</head>
<body>

	<h1>Добро пожаловать в кинотеатр</h1>

	<div>
		<a th:href="@{/users/registration}">Желаете зарегистрироваться?</a>
	</div>

	<div>
		<a th:href="@{/users/changeProfile}">Зарегистрированы? Желаете
			сменить имя пользователя или пароль?</a>
	</div>
	
	<div>
		<a th:href="@{/forClient}">Зарегистрированы? Хотите купить билеты?</a>
	</div>

	<div>
		<a th:href="@{/adminPage}">Вы администратор? Вам сюда</a>
	</div>
	
	<div th:insert="footer :: copy"></div>
	
</body>
</html>