<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<h1>
		Добро пожаловать, <span th:text="${user.username}"></span>
	</h1>

	<h1>
		Сеансы фильма <span th:text="${film.name}"></span>
	</h1>


	<table border="2">
		<tbody>
			<tr th:each="sess : ${page.content}">
				<td th:text="${sess}"></td>
				<td width="100"><a
					th:href="@{/forClient/choosePlace/{id}(id=${sess.id})}">Выбрать
						сеанс</a></td>
			</tr>
		</tbody>
	</table>
	<span th:if="${page.totalPages > 0}"
		th:each="pageNumber : ${pageNumbers}"> <a
		th:href="@{/forClient/sessionOfFilm/{id}(id=${film.id}, size=${page.size}, page=${pageNumber})}"
		th:text=${pageNumber}></a>
	</span>

	<div th:insert="footer :: copy"></div>
</body>
</html>